<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.ReplyMapper">

	<!-- 댓글 등록 (create) : 1 반환 (여러 개 등록도 1) -->
	<insert id="insert">
		insert into tbl_reply (rno, bno, reply, replyer)
			values (seq_reply.nextval, #{bno}, #{reply}, #{replyer})
	</insert>
	
	<!-- 댓글 조회 (read) -->
	<select id="read" resultType="org.zerock.domain.ReplyVO">
		select * from tbl_reply where rno = #{rno}
	</select>
	
	<!-- 댓글 삭제 (delete) : DELETE된 행의 갯수 반환 -->
	<delete id="delete">
		delete from tbl_reply where rno = #{rno}
	</delete>
	
	<!-- 댓글 수정 (update) -->
	<update id="update">
		update tbl_reply 
		set reply = #{reply}, updatedate = sysdate 
		where rno = #{rno}
	</update>
	
	<!-- 특정 게시물의 댓글 가져오기 
		#{bno}는 @Parm의 bno와 일치 -->
	<select id="getListWithPaging" resultType="org.zerock.domain.ReplyVO">
		select rno, bno, reply, replyer, replyDate, updatedate
		from tbl_reply
		where bno = #{bno}
		order by rno asc
	</select>
	
</mapper>